.swagger-section #header {
    background-color: #E81B0C;
}

.swagger-section #header a#logo {
    background: transparent url(/Images/KeyWhite.png) no-repeat left center;
    background-size: 20%;
}
